@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ForgotPasswordHeader")</h3>

@if (Model.EmailSent)
{
    <p>@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></p>

    <p>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>

    <a href="@Model.LoginPageUrl" class="btn btn-default">@Html.Resource("ForgotPasswordBackToLogin")</a>
}
else
{
    using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
    {

        <p>@Html.Resource("EnterLoginEmailAddress")</p>

		<div class="form-group">
			<label>@Html.Resource("ForgotPasswordEmail")</label>
			@Html.TextBoxFor(u => u.Email, new { @class = "form-control" })

            </div>

      <button type="submit" class="btn btn-primary">@Html.Resource("ForgotPasswordSendButton")</button>
    }
}

</div>
