@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.LoginFormViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js",  "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top")

<div class="@Model.CssClass">
    @if (Telerik.Sitefinity.Security.SecurityManager.GetCurrentUserId() == Guid.Empty || SystemManager.IsInlineEditingMode || SystemManager.IsDesignMode)
    {
    <div>
        @if (Model.IncorrectCredentials)
        {
            <div tabindex="0" class="alert alert-danger" role="alert">
                @Html.Resource("IncorrectCredentialsMessage")
            </div>
        }

        @using (Html.BeginFormSitefinity(@Request.Url.Query, null, null, FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "aria-label", @Html.Resource("LoginFormLogInLegendHeader") } }, true))
        {
         @Html.ValidationSummary(true)
            <h3>@Html.Resource("LoginFormLogInLegendHeader")</h3>

            <div class="form-group">
                <label>
                    @Html.Resource("Username")
                    @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", aria_required="true" })
                    @if(Html.ValidationMessage("UserName") != null)
                    {
                        <div class="has-error" role="alert">
                            <span class="help-block">@Html.ValidationMessage("UserName")</span>
                        </div>
                    }
                </label>
            </div>

            <div class="form-group">
                <label>
                    @Html.Resource("Password")
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", aria_required="true" })
                    @if(Html.ValidationMessage("Password") != null)
                    {
                        <div class="has-error" role="alert">
                            <span class="help-block">@Html.ValidationMessage("Password")</span>
                        </div>
                    }
                </label>
            </div>

            if (Model.ShowRememberMe)
            {
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(u => u.RememberMe)
                        @Html.Resource("RememberMe")
                    </label>
                </div>
            </div>
            }

           <button type="submit" class="btn btn-primary">@Html.Resource("LoginFormLogInButton")</button>

            if (Model.ShowForgotPasswordLink)
            {
                @Html.ActionLink(Html.Resource("ForgottenPasword"), "ForgotPassword")
            }

            if (Model.ShowRegistrationLink)
            {
                <h4>
                    <strong><a href="@Model.RegisterPageUrl">@Html.Resource("LoginFormRegisterNow")</a></strong>
                </h4>
            }
        }
    </div>
    }

    else
    {
        <p>@Html.Resource("AlreadyLoggedIn")</p>
    }
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/LoginForm/login-form.js"), "bottom")
