@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ResetPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ResetPasswordHeader")</h3>

@if (Model.ResetComplete)
{
    <h3>@Html.Resource("ResetPasswordSuccess")</h3>
    <h4>
        <strong><a href="@Model.LoginPageUrl">@Html.Resource("ResetPasswordBackToLogin")</a></strong>
    </h4>
}
else
{
    <form action="@(Url.Action("ResetPassword", "LoginForm"))" method="post" autocomplete="off">
        @if (!string.IsNullOrEmpty(Model.Error))
        {

            <div class="alert alert-danger">
                @Model.Error
            </div>


        }
    
        @Html.HiddenFor(u => u.SecurityToken)
    
        @if (Model.RequiresQuestionAndAnswer)
        {
            
            <div class="form-group">
                <label>@Html.Resource("ResetPasswordAnswer")</label>
                @Html.TextBoxFor(u => u.ResetPasswordAnswer, new { @class = "form-control" })
            </div>
        }
        
        <div class="form-group">
            <label>@Html.Resource("ResetPasswordNewPassword")</label>
            @Html.PasswordFor(u => u.NewPassword, new { @class = "form-control" })

        </div>

        <div class="form-group">
            <label>@Html.Resource("ResetPasswordRepeatNewPassword")</label>
             @Html.PasswordFor(u => u.RepeatNewPassword, new { @class = "form-control" })
        </div>
    
        <button class="btn btn-default" type="submit">@Html.Resource("ResetPasswordSaveButton")</button>
        
    </form>
}

</div>
