@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileEmailEditViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top", false)

<div>
    <h3>@Html.Resource("EditProfileLink")</h3>

    @if (Model.ShowProfileChangedMsg)
    {
        <div class="alert alert-success" role="alert" aria-live="assertive">@Html.Resource("ChangesAreSaved")</div>
    }

    @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert" aria-live="assertive">@ViewBag.ErrorMessage</div>
    }

    @using (Html.BeginFormSitefinity("EditEmail", "EditProfileForm", FormMethod.Post, new Dictionary<string, object> { { "enctype", "multipart/form-data"},  { "role", "form" }, { "aria-label", Html.Resource("EditProfileLink") } }))
    {
        <div>
            @Html.HiddenFor(u => u.UserId)
            @Html.HiddenFor(u => u.Email)                     
        </div>
        
        <p id='@Html.UniqueId("PasswordChangeDescription")'>@Html.Resource("PasswordEditMessage")</p>

        <div class="form-group">
            @{
                var passwordDescription = Html.UniqueId("PasswordChangeDescription") + " " + Html.UniqueId("PasswordChangeValidationMessage");
            }
            @Html.LabelFor(u => u.Password, Html.Resource("Password"))
            @Html.PasswordFor(u => u.Password, new { @class = "form-control", aria_describedby = passwordDescription})

            <div id='@Html.UniqueId("PasswordChangeValidationMessage")' class="text-danger" role="alert" aria-live="assertive">
                @Html.ValidationMessageFor(u => u.Password)
            </div>
        </div>
        
        <div>
            <input class="btn btn-primary" data-sf-role="profile-submit" type="submit" value='@Html.Resource("EditProfileSave")' />   
        </div>
    }
</div>