@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.SubmitButton.SubmitButtonViewModel

@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;
@Html.Script(ScriptRef.JQuery, "jquery", false)
<div class="@Model.CssClass my-3">
    <button type="submit" @Html.SubmitButtonRequiredAttributes() class="btn btn-primary" @(SystemManager.IsDesignMode ? "disabled" : "")>@Model.Label</button>
    @if (Model.AllowGoBack)
    {
        <a href="javascript:void(0)" data-sf-btn-role="prev" class="ms-2">@Html.HtmlSanitize(Model.PreviousStepText) </a>
    }
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/Form/form.all.js"), "bottom", false)
