@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ForgotPasswordHeader")</h3>

@if (Model.EmailSent)
{
    <p>@Html.Resource("ForgotPasswordRequestSent") @Html.Encode(Model.Email)</p>
    
    <p>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>
    
    <strong><a href="@Model.LoginPageUrl">@Html.Resource("ForgotPasswordBackToLogin")</a></strong>
}
else
{
    using (Html.BeginFormSitefinity("SendPasswordResetEmail", "LoginForm"))
    {
        <p>@Html.Resource("EnterLoginEmailAddress")</p>
        
        <div class="ui form">

            @if (Model.EmailNotFound)
            {
                <p class="ui red label ">@String.Format(Html.Resource("DoesNotExist"), Html.Encode(Model.Email))</p> 
            }

            <div class="field">
                <label>
                    @Html.Resource("ForgotPasswordEmail")
                </label>
                    @Html.TextBoxFor(u => u.Email)
            </div>

        </div>
    
        <input type="submit" class="ui submit button" value='@Html.Resource("ForgotPasswordSendButton")' />
    }
}

</div>
