@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ResetPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">

<h3>@Html.Resource("ResetPasswordHeader")</h3>

@if (Model.ResetComplete)
{
    <h3>@Html.Resource("ResetPasswordSuccess")</h3>
    <strong><a href="@Model.LoginPageUrl">@Html.Resource("ResetPasswordBackToLogin")</a></strong>
}
else
{
    <form action="@(Url.Action("ResetPassword", "LoginForm"))" method="post" autocomplete="off">

       <div class="ui form">

            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <p class="ui red label">@Model.Error</p>
            }
    
            @Html.HiddenFor(u => u.SecurityToken)
    
            @if (Model.RequiresQuestionAndAnswer)
            {

                <div class="field">
                    <label>
                        @Html.Resource("ResetPasswordAnswer")
                    </label>
                    @Html.TextBoxFor(u => u.ResetPasswordAnswer)
                </div>

            }

            <div class="field">
                <label>
                    @Html.Resource("ResetPasswordNewPassword")
                </label>
                    @Html.PasswordFor(u => u.NewPassword)
            </div>

            <div class="field">
                <label>
                    @Html.Resource("ResetPasswordRepeatNewPassword")
                </label>
                @Html.PasswordFor(u => u.RepeatNewPassword)
            </div>

            <input type="submit" class="ui submit button" value='@Html.Resource("ResetPasswordSaveButton")' />

        </div>
    </form>
}

</div>
