@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery.ImageDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="@Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <figure aria-labelledby="@Html.UniqueId(" ImageCaption")">
        <figcaption class="h2" id="@Html.UniqueId(" ImageCaption")" @Html.InlineEditingFieldAttributes("Title", "ShortText" )>@Model.Item.Fields.Title</figcaption>
        <div class="text-muted">
            <span class="visually-hidden">@Html.Resource("ImageTakenOn") </span>
            @Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm")
            @Html.Resource("By")
            @DataResolver.Resolve(@Model.Item.DataItem, "Author", null)
        </div>

        @Html.CommentsCount(string.Empty, @Model.Item.DataItem)

        <p id="@Html.UniqueId(" ImageDescription")" @Html.InlineEditingFieldAttributes("Description", "LongText" )>@Html.HtmlSanitize((string)Model.Item.Fields.Description)</p>
        <div class="d-flex justify-content-center bg-light">
            <img loading="lazy" class="mw-100 h-auto" aria-describedby="@Html.UniqueId(" ImageDescription")" src="@Html.Raw(Model.MediaUrl)" alt='@System.Text.RegularExpressions.Regex.Replace(Model.Item.Fields.AlternativeText, @"[^\w\d_-]", "")'
                 @Html.GetWidthAttributeIfExists(Model.Width)
                 @Html.GetHeightAttributeIfExists(Model.Height) />
        </div>
    </figure>

    @if (ViewBag.ItemIndex != null)
    {
    <nav role="navigation" aria-label="@Html.Resource(" PreviousNextImage")" class="d-flex justify-content-between mb-3">
        @{
        var previousItemIndex = ViewBag.ItemIndex == 1 ? Model.TotalItemsCount : ViewBag.ItemIndex - 1;
        var nextItemIndex = ViewBag.ItemIndex == Model.TotalItemsCount ? 1 : ViewBag.ItemIndex + 1;
        }

        @if (Model.PreviousItem != null)
        {
        <a aria-label="@Html.Resource(" GoToPreviousImage")" href="@HyperLinkHelpers.GetDetailPageUrl(Model.PreviousItem, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, ViewBag.UrlKeyPrefix, previousItemIndex)">
            <svg class="svg-inline--fa fa-w-18" aria-hidden="true">
                <use xlink:href="~/ResourcePackages/Bootstrap5/assets/dist/sprites/solid.svg#@GetCaretDirection("prev")" class="fa-primary"></use>
            </svg>
            @Html.Resource("PreviousImage")
        </a>
        }

        @if (Model.PreviousItem != null || @Model.NextItem != null)
        {
        <span>@string.Format(@Html.Resource("IndexOfTotal"), @ViewBag.ItemIndex, @Model.TotalItemsCount)</span>
        }

        @if (Model.NextItem != null)
        {
        <a class="" aria-label="@Html.Resource(" GoToNextImage")" href="@HyperLinkHelpers.GetDetailPageUrl(Model.NextItem, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, ViewBag.UrlKeyPrefix, nextItemIndex)">
            @Html.Resource("NextImage")
            <svg class="svg-inline--fa fa-w-18" aria-hidden="true">
                <use xlink:href="~/ResourcePackages/Bootstrap5/assets/dist/sprites/solid.svg#@GetCaretDirection("next")" class="fa-primary"></use>
            </svg>
        </a>
        }
    </nav>

    @Html.ActionLink(Html.Resource("BackToAllImages"), "Index")
    }

    @Html.CommentsList(@Model.Item.DataItem)

</div>
@*Resolves the caret direction depending on language direction*@
@helper GetCaretDirection(string arrow)
{
    bool isRtl = ((Html.RenderDirAttribute().ToString() == "dir=\"rtl\"")?true:false);
     
    if (arrow == "next" && !isRtl || arrow == "prev" && isRtl)
    {
        @Html.HtmlSanitize("caret-right");
    }
    else
    {
        @Html.HtmlSanitize("caret-left");
    }
}