@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.NavigationField.NavigationFieldViewModel

@using System.Linq;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@Html.Script(ScriptRef.JQuery, "jquery", false)
@{
    var totalPages = Model.Pages.Count();
}
<div class="@Model.CssClass my-3" data-sf-role="navigation-field-container" data-sf-active-css-class="fw-bold" data-sf-past-css-class="text-secondary">
    <input type="hidden" data-sf-role="step-of-resources" value="@Html.Resource("StepOf")" />
    <ol data-sf-role="sr-progressbar" class="list-unstyled d-inline-flex gap-3 mb-0" role="progressbar" aria-valuemin="1" aria-valuemax="@totalPages" aria-valuenow="1" aria-valuetext="Step 1 of @totalPages">
        @{
            var pageCounter = 0;
            foreach (var page in Model.Pages)
            {
                pageCounter++;
                <li class="d-inline-flex align-items-center gap-2" data-sf-navigation-index="@page.Index" aria-hidden="true">
                    <span class="d-inline-flex align-items-center justify-content-center">
                        <b data-sf-progress-indicator="incomplete" class="bg-white border border-1 border-secondary rounded-circle px-2">@pageCounter</b>
                        <span data-sf-progress-indicator="past" class="bg-white border border-1 rounded-circle px-1">
                            <svg class="svg-inline--fa fa-w-16" aria-hidden="true">
                                <use xlink:href="~/ResourcePackages/Bootstrap5/assets/dist/sprites/solid.svg#check" class="fa-secondary"></use>
                            </svg>
                        </span>
                    </span>
                    <span data-sf-page-title="@page.Title">@Html.HtmlSanitize(page.Title)</span>
                </li>
            }
        }
    </ol>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/Form/form.all.js"), "bottom", false)