@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/Foundation/css/normalize.min.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/Foundation/css/foundation.min.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/Foundation/css/foundation-sitefinity.min.css")' type="text/css" />

    @if (SitefinityContext.IsBackend)
    {
        <link href='@Url.WidgetContent("~/ResourcePackages/Foundation/css/sitefinity-backend.css")' rel="stylesheet">
    }

</head>
<body>
	
	@if (SitefinityContext.IsBackend)
    {
        @Html.Script(ScriptRef.JQuery)
    }
	
	@Html.Script("//cdn.jsdelivr.net/foundation/5.2.3/js/foundation.min.js")
    @Html.SfPlaceHolder("Contentplaceholder1")

</body>
</html>
