@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.NavigationField.NavigationFieldViewModel

@using System.Linq;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@Html.Script(ScriptRef.JQuery, "top", false)
@{
    var totalPages = Model.Pages.Count();
}
<div class="@Model.CssClass" data-sf-role="navigation-field-container">
    <div class="progress">
        <div class="progress-bar" data-sf-role="progress-bar"></div>
    </div>

    <span class="sf-Progress-percent" data-sf-role="progress-percent"> </span>
    <input type="hidden" data-sf-role="step-of-resources" value="@Html.Resource("StepOf")" />
    <ol data-sf-role="sr-progressbar" class="sf-Progress-page-title" tabindex="0" role="progressbar" aria-valuemin="1" aria-valuemax="@totalPages" aria-valuenow="1" aria-valuetext="Step 1 of @totalPages">
        @foreach (var page in Model.Pages)
        {
            <li data-sf-navigation-index="@page.Index" aria-hidden="true">
                <span data-sf-page-title="@page.Title">@Html.HtmlSanitize(page.Title)</span>
            </li>
        }
    </ol>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/Form/form.all.js"), "bottom", false)
