@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;

@*Add scripts and stylesheets*@

<div class="@Model.CssClass">
@* @Html.Action("GetView", new { viewName = "Dropdown",  model= Model}) *@

    <ul class="sitemap menu vertical">
        @foreach (var node in Model.Nodes)
        {
            @RenderRootLevelNode(node);
        }
    </ul>

</div>

@*Here is specified the rendering for the root level*@
@helper RenderRootLevelNode(NodeViewModel node)
{
    <li class="column">
        <a class="item" href="@node.Url" target="@node.LinkTarget"><strong>@node.Title</strong></a>
        @if (node.ChildNodes.Count > 0)
        {
            <div class="ui menu secondary vertical">
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </div>
        }
    </li>
}

@*Here is specified the rendering for the sub levels*@
@helper RenderSubLevelsRecursive(NodeViewModel node)
{
    <a class="item" href="@node.Url" target ="@node.LinkTarget">@node.Title</a>
    if (node.ChildNodes.Count > 0)
    {
        <div class="menu">
            @foreach (var childNode in node.ChildNodes)
            {
                @RenderSubLevelsRecursive(childNode)
            }
        </div>
    }
}
