@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

<div class="@Model.CssClass">

    <h3>@Html.Resource("ForgotPasswordHeader")</h3>

    @if (Model.EmailSent)
    {
        <div id='@Html.UniqueId("ForgotPasswordRequestSentInfo")' class="alert alert-success my-3">@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></div>

        <div id='@Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo")' class="alert alert-success my-3">@Html.Resource("ForgotPasswordRequestSentUseLink")</div>

        var forgottenPasswordDescription = Html.UniqueId("ForgotPasswordRequestSentInfo") + " " + Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo");
        <a href="@Model.LoginPageUrl" class="btn btn-link" aria-describedby="@forgottenPasswordDescription">@Html.Resource("ForgotPasswordBackToLogin")</a>
    }
    else
    {
        using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
        {
            <p id='@Html.UniqueId("EnterLoginEmailAddressInfo")' class="alert alert-warning">@Html.Resource("EnterLoginEmailAddress")</p>

            <div class="my-3">
                @Html.LabelFor(u => u.Email, Html.Resource("ForgotPasswordEmail"), new { @class = "form-label" })
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", aria_describedby = Html.UniqueId("EnterLoginEmailAddressInfo") })
            </div>

            <button type="submit" class="btn btn-primary" @(SystemManager.IsDesignMode ? "disabled" : "")>@Html.Resource("ForgotPasswordSendButton")</button>
        }
    }

</div>
