@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfileEmailEditViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top", false)

<div>
    @if (Model.ShowProfileChangedMsg)
    {
        <div role="alert">@Html.Resource("ChangesAreSaved")</div>
    }

    @using (Html.BeginFormSitefinity("EditEmail", "EditProfileForm", FormMethod.Post, new Dictionary<string, object> { { "enctype", "multipart/form-data"},  { "role", "form" }, { "aria-label", "Edit profile" } }))
    {
        <div>
            @Html.HiddenFor(u => u.UserId)
            @Html.HiddenFor(u => u.Email)                     
        </div>

        <h3>@Html.Resource("EditProfileLink")</h3>
        
        <p>@Html.Resource("PasswordEditMessage")</p>

        if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div role="alert" class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        <div class="form-group">
            <label>
                @Html.Resource("Password")
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", aria_label = @Html.Resource("PasswordEditMessage")})
            </label>
            @Html.ValidationMessageFor(u => u.Password)
        </div>
        
        <div>
            <input class="btn btn-primary" data-sf-role="profile-submit" type="submit" value='@Html.Resource("EditProfileSave")' />   
        </div>
    }
</div>