@model Telerik.Sitefinity.Frontend.Forms.Mvc.Models.Fields.EmailTextField.EmailTextFieldViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

@{
    var isRequired = Model.ValidatorDefinition.Required.HasValue && Model.ValidatorDefinition.Required.Value ? "true" : "false";
    var hasDescription = !string.IsNullOrEmpty(Model.MetaField.Description);
}

<div class="@Model.CssClass form-group" data-sf-role="email-text-field-container">
    <input data-sf-role="violation-restrictions" type="hidden" value='{"maxLength":"@Model.ValidatorDefinition.MaxLength", "minLength": "@Model.ValidatorDefinition.MinLength"}' />
    <input data-sf-role="violation-messages" type="hidden" value='{"maxLength":"@Model.ValidatorDefinition.MaxLengthViolationMessage", "required": "@Model.ValidatorDefinition.RequiredViolationMessage", "invalid": "@Html.Resource("InvalidEntryMessage")", "regularExpression": "@Model.ValidatorDefinition.RegularExpressionViolationMessage"}' />
    
    <label class="h6" for='@Html.UniqueId("Email")'>@Model.MetaField.Title</label>
    <input 
        id='@Html.UniqueId("Email")'
        data-sf-role="email-text-field-input"
        type="@Model.InputType.ToHtmlInputType()"
        class="form-control"
        name="@Model.MetaField.FieldName"
        placeholder="@Model.PlaceholderText"
        value="@Model.Value"
        aria-required="@isRequired"
        @Html.Raw(Model.ValidationAttributes)
        @{if (hasDescription) { <text>aria-describedby='@Html.UniqueId("EmailInfo") @Html.UniqueId("EmailErrorMessage")'</text> } else { <text>aria-describedby='@Html.UniqueId("TextboxErrorMessage")'</text> } } />

    @if (hasDescription)
    {
        <p id='@Html.UniqueId("EmailInfo")' class="text-muted">@Model.MetaField.Description</p>
    }

    <div id='@Html.UniqueId("EmailErrorMessage")' data-sf-role="error-message" role="alert" aria-live="assertive" class="text-danger"></div>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/EmailTextField/email-text-field.js"), "bottom", false)