@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.ChangePassword.ChangePasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
    @if (Model.PasswordChanged)
    {
        <h3>@Html.Resource("ChangePasswordSuccess")</h3>
    }
    else
    {
        <h3>@Html.Resource("ChangePasswordHeader")</h3>
        
        using (Html.BeginFormSitefinity("SetChangePassword", "ChangePassword"))
        {
            
    
        <div class="ui form">

            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <p class="ui red label">@Model.Error</p>

            }

            <div class="field">
                <label>
                    @Html.Resource("ChangePasswordOldPassword")
                </label>
                @Html.PasswordFor(u => u.OldPassword)
            </div>


            <div class="field">
                <label>
                    @Html.Resource("ChangePasswordNewPassword")
                </label>
                @Html.PasswordFor(u => u.NewPassword)
            </div>

            <div class="field">
                <label>
                    @Html.Resource("ChangePasswordRepeatPassword")
                </label>
                @Html.PasswordFor(u => u.RepeatPassword)
            </div>   
            
            <input type="submit" class="ui submit button" value='@Html.Resource("ChangePasswordSaveButton")' />
           
        </div>
        
        }
    }
</div>

