@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;

<ul class="list-unstyled @Model.CssClass" aria-label="@Html.Resource("ImageGallery")">

    @foreach (var item in Model.Items)
    {
        var thumbnailViewModel = (ThumbnailViewModel)item;
        <li class="d-inline-block">
            <figure aria-label="@(string.IsNullOrEmpty(item.Fields.Description) ? item.Fields.Title : item.Fields.Description)">
                <img loading="lazy" src="@(thumbnailViewModel.ThumbnailUrl)" alt='@System.Text.RegularExpressions.Regex.Replace(item.Fields.AlternativeText, @"[^\w\d_-]", "")'
                     @Html.GetWidthAttributeIfExists(thumbnailViewModel.Width)
                     @Html.GetHeightAttributeIfExists(thumbnailViewModel.Height) />
            </figure>
        </li>
    }
</ul>

@if (Model.ShowPager)
{
    @Html.Action("Index", "ContentPager", new
       {
           currentPage = Model.CurrentPage,
           totalPagesCount = Model.TotalPagesCount.Value,
           redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
       })
}
