@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Document.DocumentViewModel

<div class="@Model.CssClass">
    @if(!string.IsNullOrEmpty(Model.MediaUrl))
    {
        <div class="media">
          <div class="media-left">
            <i class="icon-file icon-txt icon-md">
                <span class="icon-txt-@Model.Extension">@Model.Extension</span>
            </i>
          </div>
          <div class="media-body">
              <div>
                <a class="@String.Concat("sf", Model.Extension)" href="@Model.MediaUrl">@Model.Title</a> 
                <span class="text-muted">(@Model.Extension)</span>
              </div>
            <span class="text-muted">@Model.FileSize KB</span>
          </div>
        </div>
    }
</div>