@model Telerik.Sitefinity.Frontend.Engagement.Mvc.Models.Engagement.EngagementViewModel

<div class="thumbnail @Model.CssClass">
	<img src="@Model.SelectedSizeUrl" alt="">
	<div class="caption">
		<h3>@Html.Raw(Model.Heading)</h3>
		<p>@Html.Raw(Model.Description)</p>

		@if (Model.ActionName != null && !String.IsNullOrEmpty(Model.ActionName))
		{
				<p><a href="@Model.ActionUrl" class="btn btn-primary" role="button" >@Model.ActionName</a></p>
		}
	</div>
</div>
