@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel

<div class="thumbnail @Model.CssClass">
    <img src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText">
    <div class="caption">
        <h3>@Html.Raw(Model.Heading)</h3>
        <p>@Html.Raw(Model.Description)</p>

        @if (!string.IsNullOrEmpty(Model.ActionName))
        {
            <p><a href="@Model.ActionUrl" class="btn btn-primary" role="button" >@Model.ActionName</a></p>
        }
    </div>
</div>
