@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script(Url.WidgetContent("Mvc/Scripts/Bootstrap/js/bootstrap.min.js"), "top", false)

<div class="@Model.CssClass">
    @* @Html.Action("GetView", new { viewName = "Dropdown",  model= Model}) *@

    <ul class="nav nav-pills">
        @foreach (var node in Model.Nodes)
        {
            @RenderRootLevelNode(node);
        }
    </ul>
</div>

@*Here is specified the rendering for the root level*@
@helper RenderRootLevelNode(NodeViewModel node)
{
    <li class="dropdown @GetClass(node)">
        @if (node.ChildNodes.Count > 0)
        {
            <a href="#" data-toggle="dropdown" class="dropdown-toggle expandable-node">@node.Title
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @RenderSubLevelsRecursive(node)
            </ul>
        }
        else
        {
            <a href="@node.Url" target="@node.LinkTarget">@node.Title</a>
        }
    </li>
}

@*Here is specified the rendering for all child levels*@
@helper RenderSubLevelsRecursive(NodeViewModel node)
{
    foreach (var childNode in node.ChildNodes)
    {
        if(childNode.ChildNodes.Count > 0)
        {
             <li class="dropdown-submenu @GetClass(childNode)">
                <a href="@childNode.Url" target="@childNode.LinkTarget">@childNode.Title
                    <span class="right-caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @RenderSubLevelsRecursive(childNode)
                </ul>
            </li>
        }
        else
        {
            <li class="@GetClass(childNode)">
                <a href="@childNode.Url" target="@childNode.LinkTarget">@childNode.Title</a>
            </li>
        }
    }
}

@*Resolves the class that will be added for each node depending whether it is selected*@
@helper GetClass(NodeViewModel node)
{

    if (node.IsCurrentlyOpened)
    {
        @Html.Raw("active");
    }
    else if (node.HasChildOpen)
    {
        @Html.Raw("active");
    }
}

@Html.Script(Url.WidgetContent("MVC/Scripts/Navigation/pills.js"), "bottom")