@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.AccountActivation.AccountActivationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
    @if (Model.Activated)
    {
        <div class="alert alert-success" role="alert" aria-live="assertive">
            <h3>@Html.Resource("AccountActivationSuccess")</h3>

            <a href="@Model.ProfilePageUrl">@Html.Resource("ProfilePageUrlTitle")</a>
        </div>
    }
    else if (Model.AttemptedActivation)
    {
        <div class="alert alert-danger" role="alert" aria-live="assertive">
            <h3>@Html.Resource("AccountActivationFail")</h3>
        </div>
    }
</div>