@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

<div class="@Model.CssClass">

    <h3>@Html.Resource("ForgotPasswordHeader")</h3>

    @if (Model.EmailSent)
    {
        <p id='@Html.UniqueId("ForgotPasswordRequestSentInfo")'>@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></p>

        <p id='@Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo")'>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>

        var forgottenPasswordDescription = Html.UniqueId("ForgotPasswordRequestSentInfo") + " " + Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo");
        <a href="@Model.LoginPageUrl" class="btn btn-secondary" aria-describedby="@forgottenPasswordDescription">@Html.Resource("ForgotPasswordBackToLogin")</a>
    }
    else
    {
        using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
        {
            <p id='@Html.UniqueId("EnterLoginEmailAddressInfo")'>@Html.Resource("EnterLoginEmailAddress")</p>

            <div class="form-group">
                @Html.LabelFor(u => u.Email, Html.Resource("ForgotPasswordEmail"))
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", aria_describedby = Html.UniqueId("EnterLoginEmailAddressInfo") })
            </div>

            <button type="submit" class="btn btn-primary" @(SystemManager.IsDesignMode ? "disabled" : "")>@Html.Resource("ForgotPasswordSendButton")</button>
        }
    }

</div>
