@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ResetPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

<div class="@Model.CssClass">

    <h3>@Html.Resource("ResetPasswordHeader")</h3>

    @if (Model.ResetComplete)
    {
        <h3>@Html.Resource("ResetPasswordSuccess")</h3>
        <a href="@Model.LoginPageUrl">@Html.Resource("ResetPasswordBackToLogin")</a>
    }
    else if (Model.RequiresQuestionAndAnswer && string.IsNullOrEmpty(Model.ResetPasswordQuestion))
    {    
        <div class="alert alert-danger" role="alert" aria-live="assertive">@Html.Resource("CannotResetPasswordError")</div>
    }
    else
    {
        <form action="@(Url.Action("ResetPassword", "LoginForm"))" method="post" autocomplete="off">
            @Model.Error
            @Html.HiddenFor(u => u.SecurityToken)

            @if (Model.RequiresQuestionAndAnswer)
            {
                <div class="form-group">
                    @Html.LabelFor(u => u.ResetPasswordAnswer, Model.ResetPasswordQuestion)
                    @Html.TextBoxFor(u => u.ResetPasswordAnswer, new { @class = "form-control" })
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(u => u.NewPassword, Html.Resource("ResetPasswordNewPassword"))
                @Html.TextBoxFor(u => u.NewPassword, new { @class = "form-control", @type = "password" })
            </div>

            <div class="form-group">
                @Html.LabelFor(u => u.RepeatNewPassword, Html.Resource("ResetPasswordRepeatNewPassword"))
                @Html.TextBoxFor(u => u.RepeatNewPassword, new { @class = "form-control", @type = "password" })
            </div>

            <input class="btn btn-primary" type="submit" value='@Html.Resource("ResetPasswordSaveButton")' @(SystemManager.IsDesignMode ? "disabled" : "") />      
        </form>
    }

</div>
