@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/Bootstrap/assets/dist/css/styles.min.css")' type="text/css" />
</head>

<body>

  @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
  @if (!SitefinityContext.IsBackend && ControlExtensions.InlineEditingIsEnabled())
  {
    @Html.Script(ScriptRef.MicrosoftAjax)
    @Html.Script(ScriptRef.MicrosoftAjaxCore)
    @Html.Script(ScriptRef.JQuery)

    @Html.Script("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js")
    @Html.Script(ScriptRef.KendoAll)
    @Html.Script("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js")
    @Html.InlineEditingManager(false)
  }

  @Html.SfPlaceHolder("Contentplaceholder1")
</body>
</html>
