@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/SemanticUI/css/semantic.min.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/SemanticUI/css/semantic-sitefinity.min.css")' type="text/css" />
</head>
<body>
	@if (!SitefinityContext.IsBackend)
	{
		@Html.Script(ScriptRef.MicrosoftAjax)
		@Html.Script(ScriptRef.MicrosoftAjaxCore)
		@Html.Script(ScriptRef.JQuery)
	}
	@Html.Script("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js")
	@Html.Script(ScriptRef.KendoAll)
	@Html.Script("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js")
	@Html.InlineEditingManager(false)

    @Html.SfPlaceHolder("Contentplaceholder1")
</body>
</html>
