@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/SemanticUI/css/semantic.min.css")' type="text/css" />
    <link rel="stylesheet" href='@Url.WidgetContent("~/ResourcePackages/SemanticUI/css/semantic-sitefinity.min.css")' type="text/css" />
</head>
<body>

	@if (!SitefinityContext.IsBackend)
	{
		@Html.Script(ScriptRef.JQuery)
	}

	@Html.Script(Url.WidgetContent("~/ResourcePackages/SemanticUI/javascript/semantic.min.js"))
	
    @Html.SfPlaceHolder("Contentplaceholder1")
</body>
</html>
