@model Telerik.Sitefinity.Frontend.Comments.Mvc.Models.CommentsCountViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", true)

<div data-sf-role="comments-count-wrapper" data-sf-thread-key="@Model.ThreadKey" class="sf-Comment-count">
    <a data-sf-role="comments-count-anchor" href="@Model.NavigateUrl">
        <svg class="sf-icon-comment sf-icon-xs" aria-hidden="true">
            <use xlink:href="~/ResourcePackages/Bootstrap4/assets/dist/sprites/solid.svg#comment-alt"></use>
        </svg>
        <span data-sf-role="comments-count-anchor-text"></span>
    </a>

    <input type="hidden" data-sf-role="service-url" value="@ViewBag.ServiceUrl" />
    <input type="hidden" data-sf-role="comments-count-resources" value='{"commentsPlural": "@Html.Resource("CommentsPlural")", "leaveComment":"@Html.Resource("LeaveComment")", "comment":"@Html.Resource("Comment")" }' />
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/comments-count.js"), "bottom", false)