@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="@Model.CssClass container">
    <div class="jumbotron" style="background: url(&quot;@Model.SelectedSizeUrl&quot;) center center; background-size: cover;">
        <h1 class="display-4">@Html.HtmlSanitize(Model.Heading)</h1>
        <p class="lead">@Html.HtmlSanitize(Model.Description)</p>
        @if (!string.IsNullOrEmpty(Model.ActionName))
        {
            <a class="btn btn-primary btn-lg" href="@Html.UrlSanitize(Model.ActionUrl)" class="btn btn-primary btn-lg" role="button" >@Model.ActionName</a>
        }
    </div>
</div>
